/python-algorithms/__pycache__
/python-algorithms/names.txt
/python-algorithms/numbers.txt
/python-algorithms/rand.py
/python-algorithms/sorted-names.txt
/C-algorithms/bubble
/C-algorithms/insertion
/C-algorithms/selection
/C-algorithms/merge
/C-algorithms/quicksort
/20230001310_2311101009.zip
/20230001310_trabalho02_POD.zip
/trabalho-final/main
/trabalho-02/main
/trabalho-01/bubble
/trabalho-01/quick
/trabalho-01/radix
/trabalho-01/radixSort
/exercicios_arquivos/e1
/exercicios_arquivos/e2
/exercicios_arquivos/e3
/exercicios_arquivos/e4
/exercicios_arquivos/e5
/arquivos_continuacao/e1
/.vscode